.underline-animation {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  color: #000; /* default text color */
  cursor: pointer;
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black; /* default underline color */
  transform: scaleX(0);
  transform-origin: left;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  background-color: rgb(219, 21, 21);
}

.active-link {
  color: rgb(219, 21, 21) !important;
}

.active-link::after {
  background-color: rgb(219, 21, 21) !important;
  transform: scaleX(1);
}
